.search-pagination {
  font-size: 1.25rem;
  display: flex;
  column-gap: 10px;
}

.search-pgnum-btn:hover {
  background-color: #f0f8ff;
}

.search-pgnum-btn.selected {
  background-color: #d7ecff;
}